* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
h1 {
  font-size: 35px;
  color: rgb(68, 67, 67);
}
.header-nav {
  position: fixed;
  background-image: linear-gradient(orange, tomato);
  padding: 5px;
  margin: 0;
  width: 100%;
  z-index: 99;
  height: 50px;
}
.header {
  display: flex;
}

.left {
  width: 50%;
}

nav {
  display: flex;
  gap: 5rem;
}
.right nav a {
  text-decoration: none;
  font-size: 23px;
  color: rgb(83, 80, 80);
}
.right nav a:hover {
  /* letter-spacing: 0.2rem; */
  /* background-color: white; */
  border-radius: 5px;
  border-bottom: white solid;
  border-top: black solid;
  /* padding: 3px; */
}
.orange-color {
  color: rgb(247, 166, 5);
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
  padding: 20px;
  margin-left: 70px;
}

.half-width {
  margin-top: 50px;
  width: 50%;
  padding-left: 2%;
}
.half-width img {
  margin-left: 80px;
  width: 90%;
}
.half-width h1 {
  /* position: absolute; */
  color: gray;
  margin-top: 70px;
  font-size: 60px;
}
.button {
  position: absolute;
  margin-top: 40px;
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.mid-banner {
  background-image: url(./images/shapes/7.png);
  background-repeat: no-repeat;
  margin: 0;
}
.mid-banner .half-width {
  padding: 0;
  margin-left: 10px;
}
.mid-banner .half-width img {
  margin-top: 80px;
  width: 54%;
  height: 70%;
}
.mid-banner .half-width .button {
  margin-top: 50px;
}
.mid-banner .half-width p {
  margin-top: 70px;
  width: 460px;
}

.Recipie-box {
  display: flex;
  justify-content: center;
}

.recipie {
  width: 620px;
  text-align: center;
  margin-bottom: 20px;
}

.recipie h1 {
  margin-bottom: 27px;
  border-bottom: 4px solid tomato;
}

.item {
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 10px;
  margin-left: 60px;
  margin-right: 80px;
}
.main-box {
  display: flex;
  justify-content: space-between;
}

.item-1 {
  width: 46%;
  height: 29rem;
  /* border: 3px solid red; */
  padding: 17px;
  border-radius: 40px;
  box-shadow: 5px 5px 5px 5px rgb(163, 162, 162);
}

.item-1 img {
  width: 32.9rem;
  height: 18rem;
  padding: 8px;
  /* margin-bottom: 16px; */
}
.item-1 h2 {
  margin-left: 7px;
  letter-spacing: 0.3rem;
}

.item-1 p {
  margin-top: 10px;
  margin-left: 7px;
}

.item-1:hover {
  box-shadow: none;
  border: 3px solid tomato;
}

.main-followers {
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  justify-content: space-between;
  width: 60%;
  /* border: 3px solid red; */
  margin-bottom: 100px;
  padding: 25px;
  width: 60rem;
  height: 12rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 3px rgb(177, 177, 177);
}
.box h1 {
  margin-top: 50px;
}

footer {
  position: absolute;
  width: 100%;
  padding: 20px;
  height: 15rem;
  background-color: black;
}

footer h1 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

footer p {
  margin-top: 4rem;
  color: rgb(173, 161, 161);
  display: flex;
  justify-content: center;
}
